{
  "semi": false,
  "singleQuote": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "printWidth": 120,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2
}
