/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .mt-1 {
  margin-top: 20px;
} */

*:focus-visible {
  outline: none;
  box-shadow: none;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: transparent;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

/* 隐藏滚动条（Chrome, Edge, Safari） */
::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none;
}

textarea {
  resize: none;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

/* .n-input--focus:hover {
  background-color: inherit !important;
} */

.n-input {
  transition: none !important;
}

.n-input * {
  transition: none !important;
}

.n-input {
  --n-caret-color: inherit !important;
  --n-border-hover: inherit !important;
  --n-border-focus: inherit !important;
  --n-box-shadow-focus: none !important;
  transition: none !important;
}

/* prettier-ignore */
.n-input * {
  --n-caret-color: inherit !important;
  --n-border-hover: inherit !important;
  --n-border-focus: inherit !important;
  --n-box-shadow-focus: none !important;
  transition: none !important;
}
